Repository killroy192/fortis: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint --fix --noPrompt, forge fmt, prettier --write

.lintstagedrc.json:

{
  "src/**/*.sol": [
    "solhint --fix --noPrompt",
    "forge fmt"
  ],
  "test/**/*.sol": [
    "solhint --fix --noPrompt",
    "forge fmt"
  ],
  "integration/**/*.js": "prettier --write",
  "deployment-lock.json": "prettier --write"
}

install foundry optionally
  .github/actions/setup/action.yml
  .github/workflows/quality-gate.yml
Due: none

fix slither notes
  .github/workflows/quality-gate.yml
  src/example/SwapApp.sol
Due: solhint --fix --noPrompt, forge fmt

add write access for slither job
  .github/workflows/quality-gate.yml
Due: none

remove manual abicoder version setOC
  src/example/ISwapRouter.sol
Due: solhint --fix --noPrompt, forge fmt

fix oracle.swap arbitrary issue
  deployment-lock.json
  deployment.config.js
  src/Oracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/interfaces/IOracle.sol
  tasks/refund.task.js
  test/Oracle.t.sol
Due: solhint --fix --noPrompt, forge fmt, prettier --write

Fix/slither (#27)
  .github/actions/setup/action.yml
  .github/workflows/quality-gate.yml
  .github/workflows/security-gate.yml
  .gitignore
  .gitmodules
  .husky/pre-commit
  .husky/pre-push
  .solhint.json
  Makefile
  README.md
  deployment-lock.json
  deployment.config.js
  foundry.toml
  hardhat.config.js
  slither.config.json
  src/Oracle.sol
  src/example/ISwapRouter.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracleProxy.sol
  src/interfaces/IOracle.sol
  tasks/refund.task.js
  test/FeeLib.t.sol
  test/Oracle.t.sol
  test/RequestLib.t.sol
  test/mocks/MockDataFeeds.sol
  test/mocks/MockRegistry.sol
  test/mocks/MockVerifier.sol
Due: solhint --fix --noPrompt, forge fmt, prettier --write

bump version
  .editorconfig
  package-lock.json
  package.json
Due: none

bump version (#28)
  .editorconfig
  package-lock.json
  package.json
Due: none

add oracle
  src/Oracle.sol
Due: solhint --fix --noPrompt, forge fmt

finilise template (#2)
  .env.example
  Makefile
  deployment.config.js
  hardhat.config.js
  package-lock.json
  package.json
  remappings.txt
  slither.config.json
  src/Oracle.sol
  src/Template.sol
  tasks/demo/migrate.task.js
  tasks/demo/trade.task.js
  tasks/index.js
  tasks/onRegister.task.js
  tasks/refund.task.js
  test/FeeLib.t.sol
  test/Oracle.t.sol
  test/RequestLib.t.sol
  test/Template.t.sol
  test/mocks/MockDataFeeds.sol
  test/mocks/MockRegistry.sol
  test/mocks/MockVerifier.sol
Due: solhint --fix --noPrompt, forge fmt

update readme
  README.md
Due: none

update pkg
  package-lock.json
  package.json
Due: none

Feat/readme (#3)
  README.md
  package-lock.json
  package.json
Due: none

migrate to cache and node v4 (#4)
  .github/actions/setup/action.yml
Due: none

update ci node & slither
  .github/actions/setup/action.yml
  .github/workflows/quality-gate.yml
Due: none

update ci node & slither (#5)
  .github/actions/setup/action.yml
  .github/workflows/quality-gate.yml
Due: none

Feat/formatting (#6)
  .lintstagedrc.json
  .prettierrc
  .solhint.json
  README.md
  deployment.config.js
  foundry.toml
  package-lock.json
  package.json
  remappings.txt
  slither.config.json
Due: none

bum pkg versions
  package-lock.json
  package.json
Due: none
